/*背景视频*/
.video-box{
	position: relative;
	height: 100%;
	background-color: #8c8c8c;
	overflow: hidden;
}
.video-box:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	box-shadow:0 0 10px 10px #ffffff inset;
}
.video-background:after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	min-height: 800px;
	z-index: -999;
}

/*左上角图标*/
.duihui{
	position:absolute;
	top:3%;
	left:3%;
	z-index: 10;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: absolute;
	top: 15%;
	left: 30%;
    display: inline-block;
	text-shadow:0 0 4px #000000,0 0 4px #000000,0 0 4px #000000;
	padding:20px 0 15px 0;
	margin: 0 0 0 30px;
}

/* 下拉按钮样式 */
.dropbtn {
	background: transparent;
    color: white;
	font-size: 200%;
	font-family: 华文新魏;
	font-weight: bold;
	text-shadow: 0 0 4px #000000,0 0 4px #000000;
    padding: 16px;
    border: none;
    cursor: pointer;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background: transparent;
    min-width: 160px;
	border-radius: 10px;
	text-align: center;
}

/* 下拉菜单的链接 */
.dropdown-content a:link{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
	font-family: 楷体;
	font-size: 120%;
    display: block;
	border-radius: 10px;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
	color: #39a339;
	text-decoration: none;
}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background: transparent;
}

/*导航栏*/
.nav{
	list-style-type: none;
	position: absolute;
	top: 15%;
	left: 30%;
	display: inline-block;
	text-shadow: 0 0 4px #000000,0 0 4px #000000,0 0 4px #000000,0 0 4px #000000;
	
}
.nav li{
	float: left;
	margin: 30px;
	padding: 30px;
}

/*超链接*/
.nav li a{
	color: white;
	font-size: 200%;
	font-family: 华文新魏;
	font-weight: bold;
	text-shadow: 0 0 4px #000000,0 0 4px #000000;
	text-decoration-line: none;
}
.nav a:hover{
	color: #215E21;
	text-decoration: none;
}

/*登录注册*/
.login{
	position: absolute;
	top: 10%;
	right: 10%;
	list-style-type: none;
}
.login li{
	padding: 0;
	margin: 0;
}
.login li a{
	color: white;
	font-weight: bold;
	text-shadow: 0 0 4px #000000,0 0 4px #000000;
	text-decoration-line: none;
}
.login li a:hover{
	color: #aaaa00;
}

/*中间标题*/
.slogan {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 684px;
   color: white;
   text-align: center;
}
.slogan .subtitle {
    font-weight: 550;
    font-size: 25px;
    letter-spacing: 10px;
    margin: 0 0 16px;
}
.slogan .title {
    font-weight: 550;
    font-size: 56px;
    margin: 0 0 16px;
}

/*中间按钮*/
.slogan .try-btn {
    position: relative;
    left: 50%;
    width: 156px;
    height: 54px;
    line-height: 54px;
    margin-top: 40px;
    margin-left: -78px;
    color: #e23404;
    background: white;
    text-align: center;
    border-radius: 100px;
    font-weight: 600;
}

/*按钮中间超链接*/
.try-btn a{
	 color: #551a8b;
}
.try-btn a:hover{
	color: c;
}
.try-btn a:active{
	color: #215E21;
}

/*轮播图*/
.picture{
	width: 1710px;
	height: 800px;
  	margin: 0 auto;
	background-color: #6a6a6a;
	box-shadow:0 0 10px 10px #ffffff inset;
}
.picture-area{
	height: 720px;
	margin: 0 auto;
	position: relative;
	top:40px;
	transform: translate(15%);
}
.picture img{
	height: 720px;
}
#item{
	width: 100%;
	height: 100%;
	
}
.item{
	position: absolute;
	opacity: 0;
	transition: all 2s;
	list-style-type: none;
}
.item.active{
	opacity:1;
}
#btn-left{
	width: 30px;
	height: 75px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 75px;
	padding-left:5px;
	z-index: 999;/*始终显示在图片的上层*/
	position: absolute;
	left: 35px;
	top: 1460px;
	cursor: pointer;
	opacity: 0;/*平时隐藏*/
}
.picture:hover #btn-left{
	/*鼠标滑入，显示图标*/
	opacity: 1;
}

#btn-right{
	width: 30px;
	height: 75px;
	font-size: 30px;
	color: white;
	background-color:rgba(0,0,0,0.4);
	line-height: 75px;
	padding-left: 5px;
	z-index: 10;
	position: absolute;
	right: 35px;
	top: 1460px;
	cursor: pointer;
	opacity: 0;
}
.picture:hover #btn-right{
	opacity: 1;
}
#circle{
	height: 20px;
	display: flex;
	position: absolute;
	top: 1840px;
	right: 150px;
}
.circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	border: 2px solid white;
	background: rgba(0,0,0,0);
	cursor: pointer;
	margin: 5px;
	list-style-type: none;
}
.white{
	background-color: #FFFFFF;
}



/*介绍*/
.introduction{
	background-color: #6a6a6a;
	box-shadow:0 0 10px 10px #ffffff inset;
	color:white;
	padding: 20px;
	font-size: 150%;
	font-family: 楷体;
	text-indent: 2em;
}
.b{
	font-size: 200%;
	font-weight: bold;
	font-style: italic;
}

/*页脚*/
.foot{
	background-image: url("../img/foot.jpg") ;
	background-size: auto 100%;
	z-index: 20;
}
.foot table{
	width: 100%;
	margin-right:auto;
	margin-left:auto;
	color:white;
	box-shadow:0 5px 5px 5px #ffffff inset;
	font-size:125%;
}
.foot td{
	padding: 20px 100px 0 100px;
}